* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px;
}

.card {
  background: #ffffff;
  border: 2.5px solid #3b5ba7;
  border-radius: 25px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.card__figure {
  height: 180px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.card__bg {
  background-color: #dae2ff;
  border-radius: 25px;
  padding: 15px;
}

.card__img {
  filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, 0.2));
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 8px;
}

.card__num {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.card__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card__pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0px;
  gap: 4px;
}

/*pill*/

.pill {
  width: 90px;
  height: 20px;
  border-radius: 25px;
  align-items: center;
}

.pill__text {
  color: whitesmoke;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.pill--bug {
  background-color: #8cb230;
}

.pill--dark {
  background-color: #58575f;
}

.pill--dragon {
  background-color: #0f6ac0;
}

.pill--electric {
  background-color: #eab308;
}

.pill--fairy {
  background-color: #ed6ec7;
}

.pill--fighting {
  background-color: #d04164;
}

.pill--fire {
  background-color: #fd7d24;
}

.pill--flying {
  background-color: #748fc9;
}

.pill--ghost {
  background-color: #556aae;
}

.pill--grass {
  background-color: #62b957;
}

.pill--ground {
  background-color: #dd7748;
}

.pill--ice {
  background-color: #61cec0;
}

.pill--normal {
  background-color: #9da0aa;
}

.pill--poison {
  background-color: #a552cc;
}

.pill--psychic {
  background-color: #ea5d60;
}

.pill--rock {
  background-color: #baab82;
}

.pill--steel {
  background-color: #417d9a;
}

.pill--water {
  background-color: #4a90da;
}

header {
  background-color: #3b5ba7;
  height: 80px;
}

.imgLogo {
  height: 50px;
  width: auto;
  padding-top: 15px;
  padding-left: 20px;
}

.banner {
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.textBanner {
  grid-column-start: 1;
}

h1 {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-size: 56px;
  line-height: 84px;
  padding-top: 20%;
  padding-left: 20%;
}

.textBanner > p {
  color: white;
  width: 684px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  padding-top: 5%;
  padding-left: 5%;
  text-align: center;
}

.bannerImage > img {
  grid-column-start: 2;
  width: 100%;
  height: auto;
}

/*Not found */
.notFound {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #000000;
  max-width: 400px;
}

.notFound__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
}

.notFound__para {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.notFound__img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
